/* global css
*/
.blockAlign5{
  vertical-align: middle;
  line-height: 5em
}
.blockAlign2{
  vertical-align: middle;
  line-height: 2.5em
}

.width50{
  width:50%;
}
.width25{
  width:25%;
}

.fleft{
  float:left;
}

.fright{
  float:right
}

.width100{
  width:100%
}

.width75{
  width:75%
}

.width80{
  width:80%
}

.width33{
  width:33.33%
}

.bgw{
  background:white
}

.bgy{
  background: yellow
}

.bgg{
  background: green
}

.bgr{
  background: red;
}

.prelative{
  position: relative;
}

.pabsolute{
  position: absolute;
}

.pflex{
  display: flex
}

.pbottom{
  bottom: 0;
}

.activeoverflow {
  overflow-y: auto;
}

.activeoverflowx{
  overflow-x: auto;
}
.height400{
  height: 400px;
}
.height300{
  height: 300px;
}
.height250{
  height: 250px;
}
.height50{
  height: 50px
}

.padding2{
  padding:2px;
}

.padding2 img{
  padding-left:4px;
  padding-right:4px;
}

.mleft{
  margin-left:10px
}

.maxheight100{
  max-height:100%
}

.height100{
  height:100%
}

.maxwidtht100{
  max-width:100%
}

.mright{
  margin-right: 15px
}

button, input[type="submit"] {
  padding: 1vh 2vh;
  border: 0.25vh solid grey;
}
.switchButton{
    height: 50%;
    margin: auto;
    width: 20%;
}
.switch-view {
  color: white;
  width: 30vh;
  text-align: center;
  background-color: dodgerblue;
  transform: translateY(-5%);
  font-size: 2vh;
  padding: 1vh 2vw;
  margin-right: 0.5vw;
  border-top-left-radius: 2vh 50%;
  border-top-right-radius: 2vh 50%;
  border-bottom-left-radius: 2vh 50%;
  border-bottom-right-radius: 2vh 50%;
}
.blue {
  /*background-color: dodgerblue;*/
}
.button-menu {
  /*border: 0.3vh solid transparent;
  border-radius: 50%;*/
}

/*
*  progress title part and search
*/
.progress_title, .search {
  display: inline;
  padding-left: 1em;
}
.search{
  padding-top:1em;
  width: 100%;
  padding-right: 1em;
}
.search .blockAlign {
  position: relative;
  margin-right: 1vw;
  width: 5vh;
  height: 5vh;
  border: 0.3vh solid grey;
  border-radius: 50%;
}
.search .blockAlign img {
  width: auto;
  margin: 1vh 1vw;
}
.search * {
  float:right;
}
.search img {
  height: 5vh;
  width: 5vh;
  margin-right: 0.25vw;
  transform: translateY(-8%);
}
.progress_title{
  position:relative;
  left:0;
  width:50%;
  display:flex;
}

.title{
  font-size: 18px;
  font-weight: 700;
  display: block;
}

.progressarien{
  font-size:14px;
  right: 1em;
  display: block;
}

/*
* Rows
*/
.firstblockContent{
  height:39.4vh;
  display:flex;
}

.secondblockContent{
  height:39.4vh;
  display:flex
}
.clickable {
  color: blue;
  text-decoration: underline;
}
.bgcurrentproject tbody tr:nth-child(odd), .additional-infos tbody tr:nth-child(odd) {
  background: #ddd;
}
