/*
* Config Mode view styles
*/
.config-mode {
    height: 78.5vh;
}
.config-mode > .first-block {
    height: 50%;
}
.config-mode > .second-block {
    height: 50%;
}

.config-mode > .first-block > .three-model .title, .config-mode > .first-block > .positions .title, .config-mode > .first-block > .features .title {
    position: absolute;
    top: 1vh;
    left: 0.5vw;
}
.config-mode > .first-block > div {
    padding-top: 6vh;
}

.first-block > div + div {
    border-left: 0.2vw solid #ccc;
}
.first-block > .three-model {
    position: relative;
    width: 33%;
    height: 100%;
    padding: 7vh 3vw;
    background-color: #eee;
}
.three-model > img {
    max-width: 100%;
    max-height: 100%;
}
.first-block > .positions {
    position: relative;
    text-align: center;
    width: 34%;
    height: 100%;
    padding: 1vw;
    background: linear-gradient(to left, #eee, #ddd);
}
.first-block > .positions .item-list {
    width: 100%;
}
.first-block > .positions .item-list > .modal-example {
    width: 50%;
}
.first-block > .positions > img {
    max-width: 100%;
    height: 66%;
}
.items-overflow {
    overflow-y: auto;
    height: 100%;
    width: 100%;
}


.first-block > .features {
    position: relative;
    width: 33%;
    height: 100%;
    padding: 1vh 1vw;
    background: linear-gradient(to left, #eee, #ddd);
}
.first-block > .features > .options > div {
    margin: 1vh 0;
}
.first-block > .features > .options > div > img {
    max-width: 3vw;
    height: 2vh;
    margin-right: 1vw;
}
.first-block > .features > .options > form {
    border-bottom: 0.3vh solid #ccc;
    padding-bottom: 1vh;
    margin-bottom: 2vh;
    margin-top: 1vh;
}
.first-block > .features .package.switch-button {
    position: absolute;
    bottom: 1vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2vh;
    padding: 1vh 2vw;
    color: white;
    background-color: dodgerblue;
}

.second-block {
    border-top: 0.2vh solid #ccc;
}
.second-block .title {
    position: absolute;
    top: 1vh;
    left: 0.5vw;
}
.second-block .item-overflow {
    overflow-y: auto;
    height: 100%;
    width: 100%;
}
.second-block > div + div {
    border-left: 0.2vw solid #ccc;
}
.second-block > .filter-panel {
    width: 20%;
    max-height: 100%
}
.second-block > .additional-infos {
    position: relative;
    padding: 6vh 1vw;
    width: 80%;
    height: 42vh;
    max-height: 100%;
    background: rgb(250, 250, 250);
    font-size: 2vh;
}
.second-block > .additional-infos > .table-overflow {
        overflow: auto;
        height: 100%;
}
.second-block > .additional-infos tbody tr:first-child {
    background-color: #ccc;
}
.second-block > .additional-infos tbody td, .second-block > .additional-infos tbody th {
    padding: 1vh 1vw;
}
.second-block > .additional-infos > .item-list {
    width: 100%;
}
.second-block > .additional-infos .clickable.intitle {
    font-size: 1.6vh;
    padding: 0.5vh;
}
.second-block > .additional-infos > .table-head {
    position: absolute;
    width: 100%;
    padding: 1vh 1vw;
    top: 0;
}
.second-block > .additional-infos > .table-head .title {
    float: left;
    font-weight: lighter;
}
.second-block > .additional-infos > .table-head .menu-bar {
    float: right;
}
.second-block > .additional-infos > .table-head > .menu-bar img {
    max-height: 2.5vh;
    margin-right: 1.5vw;
}

/*
* Popup Styles
*/
.popup-info {
    height: 25vh;
    padding: 1vh 1vw;
}
.popup-img {
    height: 40vh;
}
.popup-img .matrice-image {
    width: 100%;
}
.popup-img .matrice-image img {
    width: 100%;
}
