/*
* Dashboard view Style
*/
.content {
  z-index: 0;
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  font-size: 1.5vh;
  padding-left: 13vh;
}
.title {
    font-size: 3vh;
}
.progressarien {
    font-size: 2vh
}
.second_title {
    font-size: 2.5vh;
}

/*
* head dashboard
*/
.headdashboard{
  height: 13.1vh;
  border-bottom: 0.35vh solid lightgrey;
  display: flex;
  font-size: 3vh;
}


/*
* Shared Styles
*/
.bgcurrentproject, .bgchecklist, .bgcontact {
    border: 0.1vh solid lightgrey;
    padding-left: 1vh;
    padding-top: 1vh;
    padding-right: 1vw;
}

/*
* Current Project Styles
*/
.bgcurrentproject {
    position: relative;
    background: linear-gradient(to right, #eee, #ddd);
}
.bgcurrentproject .height50 {
    height: 4vh;
}
.fright img {
    height: 2.4vh;
}
.bgcurrentproject .activeoverflow {
    overflow-y: auto;
    height: 25.3vh;
    width: 98%;
    font-size: 2.25vh;
}
tr {
    height: 2.1vh;
}
tr.stripped {
    background: linear-gradient(to right, grey, darkgrey);
}
td input[type="checkbox"] {
    border-radius: none;
    border-color: black;
    color: green;
    background: rgba(0, 0, 0, 0);
    width: 2em;
    height: 2em;
}
td img {
    height: 3vh;
    width: auto;
}
.pbottom {
    width: 90%;
    font-size: 2vh;
    padding-bottom: 2vh;
}
.pbottom .fleft {
    margin-top: 0.5em;
    font-size: 1.25em;
}
input.view_details {
    transform: translateY(5%);
    padding: 1vh 1.5vh;
    box-shadow: none;
    border-top-left-radius: 1.5vh 50%;
    border-top-right-radius: 1.5vh 50%;
    border-bottom-left-radius: 1.5vh 50%;
    border-bottom-right-radius: 1.5vh 50%;
}
/*
* Checklist Styles
*/
.bgchecklist {
    background: #eee;
}
.bgchecklist .height50 {
    height: 4vh;
}
.bgcurrentproject--accordion {
    height: 200px;
    padding-top: -10px;
    overflow-y: auto;
}
.bgcurrentproject--accordion .panel-group .panel.panel-default {
    border-radius: 0;
    margin: 0;
    background: transparent;
    border: 1px solid grey;
}
.panel-title a:before {
    background-image: url(/img/ARROW-DOWN-ICON.png);
}
/*
* Contact Styles
*/
.bgcontact {
    background: #ddd;
}

/*
* Last visits Styles
*/
.width25.fleft.bgcontact {
    background: linear-gradient(to right, lightgrey, #eee);
}
.width25.fleft.bgcontact .activeoverflow.height250 {
    height: 220px;
}
/*
* News Styles
*/
.bgnews {
    background: linear-gradient(to bottom, lightskyblue, white, lightgrey);
    position: relative;
    z-index: -1;
    overflow: hidden;
}
.bgnews img {
    width: 100%;
    height: auto;
}