/*
* Header Menu Style
*/
header {
  position: relative;
  top: 0;
  background-color: black;
  height: 4em;
}
.header_left, .user_profile {
  margin-top: 2em;
  transform: translateY(-50%);
  position: absolute;
  color: white;
}
span.main_title{
  margin-left: 5px;
  font-size: 1.35em;
}
.header_left {
  height: 100%;
  left: 1em;
}
.user_profile {
  padding-left: 0.75em;
  font-size: 1em;
  width: 150px;
  height: 100%;
  background: #333;
  right: 0;
}
.user_profile img, .header_left img {
  margin-top: 3.75vh;
  transform: translateY(-50%);
}
