/*
* Header Menu Style
*/
header {
  position: relative;
  top: 0;
  background-color: black;
  height: 8vh;
}
.header_left, .user_profile {
  position: absolute;
  color: white;
}
span.main_title{
  position: relative;
  margin-left: 1vw;
}
.header_left {
  font-size: 3.5vh;
  height: 100%;
  left: 1.5vh;
}
.header_left a img, .user_profile img {
  width: 5vh;
  height: auto;
  margin-top: 1.5vh;
  vertical-align: -25%;
}
.user_profile {
  overflow-x: auto;
  padding-left: 2vh;
  font-size: 3vh;
  width: 30vw;
  height: 100%;
  background: #333;
  right: 0;
}
.user_profile img {
  vertical-align: -35%;
}
