/*
* Header Menu Style
*/
header {
  position: relative;
  background-color: black;
  height: 4em;
}
.header_left, .user_profile {
  margin-top: 2em;
  transform: translateY(-50%);
  position: absolute;
  color: white;
}
img {
  vertical-align: middle;
}
span.main_title{
  margin-left: 5px;
  font-size: 1.35em;
}
.header_left {
  left: 1em;
}
.user_profile {
  right: 1em;
}
