@import "./common.css";
@import "./scroll.css";
@import "./accordion.css";
@import "./carousel.css";
@import "./header.css";
@import "./welcome.css";
@import "./dashboard.css";
@import "./sideMenu.css";
@import "./connectionBox.css";

html {
  height: 100%;
}
body, #root, .connection {
  margin: 0;
  min-height: 100%;
}

body{
  background: lightgrey;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  height: 98%;
}
input[type="checkbox"]{
  margin: 0;
}

/*
*  progress title part and search
*/
.progress_title, .search {
  display: inline;
}
.search{
  position:relative;
  width: 75%;
  float:right
}

.search * {
  float:right;
}
.progress_title{
  position:relative;
  left:0;
  width:25%;
  display:flex;
}

.title{
  font-size: 18px;
  font-weight: 700
}

.progressarien{
  font-size:14px;
}
/*
* head dashboard
*/
.headdashboard{
  height:5em;
  display: flex;
}

.firstblockContent{
  height:500px;
  display:flex;
}

.secondblockContent{
  height:300px;
  display:flex
}
