@import "./common.css";
@import "./scroll.css";
@import "./accordion.css";
@import "./carousel.css";
@import "./header.css";
@import "./welcome.css";
@import "./dashboard.css";
@import "./sideMenu.css";
@import "./connectionBox.css";
@import "./cabin.css";

/*
* Basic shape style surface pro 4 2736*1824
*/
label {
  font-weight: lighter;
}
input[type="text"] {
  margin-top: 0;
}
html {
  height: 100%;
}
body{
  background: linear-gradient(to right, lightgrey, #eee);
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  height: 98%;
}
h2 {
  font-size: 4vh;
}
h3 {
  font-size: 3vh;
}
.content {
  z-index: 0;
  position: relative;
  top: 0;
  right: 0;
  font-size: 1.5vh;
  padding-left: 0vh;
  overflow: hidden;
}
/*
* Default elements Style
*/
input[type="search"] {
    margin-left: 5px;
    background: none;
    border: 0.30vh solid grey;
    border-top-left-radius: 2vh 50%;
    border-top-right-radius: 2vh 50%;
    border-bottom-left-radius: 2vh 50%;
    border-bottom-right-radius: 2vh 50%;
}
input[type="checkbox"]{
  margin: 0;
}
img {
  vertical-align: middle;
}
a:hover {
  text-decoration: none;
}

/*
* For Generic purpose
*/
.hidden {
    display: none;
}